@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Patua+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set the body to center everything */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Rubik", sans-serif;
}

/* Container for the login box */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Styling the login box */
.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}


 
.Login_head{
    
}

h2 {
    margin-bottom: 20px;
    color: #333;
}


.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


.login_button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: #45a049;
}
.or_login_p{
    padding: 20px 10px 10px 10px;
}
.or_login{
    padding: 0 10px 10px 10px;
    display: flex;
    align-items: center;

}
.facebook_button{
    height: 30px;
    width: 6.5rem;
    border-radius: 10px;
    background:rgba(255, 255, 255, 0.1);
    color: #071dc7;
    font-weight: 600;
}

.google_button{
    margin-left: 30px;
    height: 30px;
    width: 6rem;
    border-radius: 10px;
    background:rgba(255, 255, 255, 0.1);
    color: #333;
    font-weight: 600;
}
.dont_acc{
    padding: 10px;
    
}