@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Patua+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap'); 

.main_container .fourth_page{
    font-family: 'Ubuntu',sans-serif;
}
.main_container .fourth_page  h1{
    text-align: center;
}
.main_container .fourth_page .under{
    width: 80px;
    height: 3px;
    margin-left: 47%;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: red;
}
.main_container .fourth_page .intro{
    text-align: center;
    font-weight: 500;
    font-size: 20px;

}
.main_container .fourth_page .Events{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_container .fourth_page .Events  #box_size{
    height:10rem;
    width: 25rem;
    margin-left: 30px;
    border-radius: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    /* background-color: red; */
    
}
.main_container .fourth_page .Events .box-yellow , .main_container .fourth_page .Events .box-green{
    margin-top:60px;
    margin-bottom: 70px;

}
.main_container .fourth_page .Events .head{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 30px;
    
}
.main_container .fourth_page .Events .box-red{
    background-color: rgb(30, 12, 83);
    box-shadow:-10px 10px 10px rgb(94, 83, 83);
}
.main_container .fourth_page .Events .box-yellow{
    background-color: rgb(6, 6, 41);
    box-shadow:-10px 10px 10px rgb(94, 83, 83);
}
.main_container .fourth_page .Events .box-blue{
    background-color: rgb(6, 6, 41);
    box-shadow:-10px 10px 10px rgb(94, 83, 83);
}
.main_container .fourth_page .Events .box-green{
    background-color: rgb(30, 12, 83);
    box-shadow:-10px 10px 10px rgb(94, 83, 83);
}