

.container_3 .academicDept, .container_3 .publiCation,.container_3 .sports,.container_3 .club, .container_3 .interViews
,.container_3 .acaEvents , .container_3 .festGallery, .container_3 .comminites{
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-family: "Rubik", sans-serif;
    font-size: 13px;   
    font-weight: 600;
    position: relative;
    z-index: 0;
    border-radius:  12px;
    background-color: red;
    transition: calc(0.4s);
}
.container_3 .academicDept:hover, .container_3 .publiCation:hover,.container_3 .sports:hover,.container_3 .club:hover, .container_3 .interViews:hover
,.container_3 .acaEvents:hover , .container_3 .festGallery:hover, .container_3 .comminites:hover{
    transform: scale(1.02);
}
.container_3 .academicDept::after, .container_3 .publiCation::after,.container_3 .sports::after,.container_3 .club::after, .container_3 .interViews::after
,.container_3 .acaEvents::after , .container_3 .festGallery::after, .container_3 .comminites::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #211f1f;
    left: 0;
    top: 0;
    border-radius: 12px;
}


.container_3 .comminites .dropDown_4 ul li a{
    color: #021e52;
}





.container_3 li{
    height: 30px;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    
 }


 .container_3 .academicDept:hover .dropDown_1{
     display: block;
     position: absolute;
     margin-top: 14rem;
     margin-left: 10rem;
 }
 .container_3 .academicDept .dropDown_1{
    display: none;
 }
 .container_3 .academicDept .dropDown_1 ul li{
     display: block;
 }

 .container_3 .academicDept .dropDown_1 ul li{
     width: 17rem;
     height: 2rem;
     display: flex;
     align-items: center;
     justify-content: center;
     font-weight: 700;
     font-family: "Rubik", sans-serif;
     border-radius: 0px ;
     background:#dededc;
     color: #021e52;
     box-shadow: 0 10px 10px rgb(12, 11, 11);
     transition: calc(0.000001s);
    
 }
 .container_3 .academicDept .dropDown_1 ul li:hover{
     cursor: pointer;
     display: flex;
     align-items: center;
     justify-content: center;
     background: rgb(104, 211, 217);
     color: rgb(255, 255, 255);
     transform: scale(1.01);
     box-shadow:none;
 }
 
 

 
 .container_3 .sports .dropDown_2{
     display: none;
 }
 .container_3 .sports:hover .dropDown_2{
     display: block;
     position: absolute;
     margin-top: 6rem;
     margin-left: 10rem;
 }
 .container_3 .sports .dropDown_2 ul li{
     display: block;
 }
 .container_3 .sports .dropDown_2 ul li{
     width: 17rem;
     height: 2rem;
     /* display: flex;
     align-items: center;
     justify-content: center; */
     font-weight: 700;
     font-family: "Rubik", sans-serif;
     border-radius: 0px ;
     background:#dededc;
     color: #021e52;
     box-shadow: 0 10px 10px rgb(12, 11, 11);
     
 }
 .container_3 .sports .dropDown_2 ul li:hover{
     cursor: pointer;
     background: rgb(104, 211, 217);
     color: rgb(255, 255, 255);
     box-shadow:none;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 
 
 .container_3 .sports .dropDown_2 .Off .subDropdown_2{
     display: none;
 }
 .container_3 .sports .dropDown_2 .Off:hover .subDropdown_2{
     display: block;
     position: absolute;
     margin-top: 10rem;
     margin-left: 10rem;
 }
 .container_3 .sports .dropDown_2 .Off .subDropdown_2 ul li{
     width: 17rem;
     height: 2rem;
     display: flex;
     align-items: center;
     justify-content: center;
     font-weight: 700;
     font-family: "Rubik", sans-serif;
     border-radius: 0px ;
     background:#dededc;
     color: #021e52;
     box-shadow: 0 10px 10px rgb(12, 11, 11);
 }
 .container_3 .sports .dropDown_2 .Off .subDropdown_2 ul li:hover{
     cursor: pointer;
     background: rgb(104, 211, 217);
     color: rgb(255, 255, 255);
     box-shadow:none;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 
 .container_3 .sports .dropDown_2 .On .subDropdown_1{
     display: none;
 }
 .container_3 .sports .dropDown_2 .On:hover .subDropdown_1{
     display: block;
     position: absolute;
     margin-top: 12rem;
     margin-left: 10rem;
 }
 .container_3 .sports .dropDown_2 .On .subDropdown_1 ul li{
     width: 17rem;
     height: 2rem;
     display: flex;
     align-items: center;
     justify-content: center;
     font-weight: 700;
     font-family: "Rubik", sans-serif;
     border-radius: 0px ;
     background:#dededc;    
     color: #021e52;
     box-shadow: 0 10px 10px rgb(12, 11, 11);
 }
 .container_3 .sports .dropDown_2 .On .subDropdown_1 ul li:hover{
     cursor: pointer;
     background: rgb(104, 211, 217);
     color: rgb(255, 255, 255);
     box-shadow:none;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 
 /* CLUBS */
 
 .container_3 .club .dropDown_3{
     display: none;
 }
 .container_3 .club:hover .dropDown_3{
     display: block;
     position: absolute;
     margin-top: 18rem;
     margin-left: 12rem;
     
 }
 .container_3 .club .dropDown_3 ul li{
     width: 17rem;
     height: 2rem;
     /* display: flex;
     align-items: center;
     justify-content: center; */
     font-weight: 700;
     font-family: "Rubik", sans-serif;
     border-radius: 0px ;
     background:#dededc;    
     color: #021e52;
     box-shadow: 0 10px 10px rgb(12, 11, 11);
 }
 .container_3  a{
    color: #021e52;
     text-decoration-line: none;
 }

 
 .container_3 .club .dropDown_3 ul li:hover{
     cursor: pointer;
     background: rgb(104, 211, 217);
     color: rgb(255, 255, 255);
     box-shadow:none;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 
 
 .container_3 .comminites .dropDown_4{
     display: none;
 }
 .container_3 .comminites:hover .dropDown_4{
     display: block;
     position: absolute;
     margin-top: 8rem;
     margin-left: 12rem;
 }
 .container_3 .comminites .dropDown_4 ul li{
     width: 17rem;
     height: 2rem;
     /* display: flex;
     align-items: center;
     justify-content: center; */
     font-weight: 700;
     font-family: "Rubik", sans-serif;
     border-radius: 0px ;
     background:#dededc;   
     color: #021e52;
     box-shadow: 0 10px 10px rgb(12, 11, 11);
 }
 .container_3 .comminites .dropDown_4 ul li:hover{
     cursor: pointer;
     background: rgb(104, 211, 217);
     color: rgb(255, 255, 255);
     box-shadow:none;
     /* display: flex;
     align-items: center;
     justify-content: center; */
 }
 
 
 
 
 .container_3 .acaEvents .dropDown_5{
     display: none;
 }
 .container_3 .acaEvents:hover .dropDown_5{
     display: block;
     position: absolute;
     margin-top: 14rem;
     margin-left: 13rem;
 }
 .container_3 .acaEvents .dropDown_5 ul li{
     width: 17rem;
     height: 2rem;
     /* display: flex;
     align-items: center;
     justify-content: center; */
     font-weight: 700;
     font-family: "Rubik", sans-serif;
     border-radius: 0px ;
     background:#dededc;    
     color: #021e52;
     box-shadow: 0 10px 10px rgb(12, 11, 11);
 }
 .container_3 .acaEvents .dropDown_5 ul li:hover{
     cursor: pointer;
     background: rgb(104, 211, 217);
     color: rgb(255, 255, 255);
     box-shadow:none;
     /* display: flex;
     align-items: center;
     justify-content: center; */
 }
 .container_3 .acaEvents .dropDown_5 ul li p{
     color: #665d5d;
     font-size: 10px;
     margin-left: 5px;
 }
 .container_3 .acaEvents .dropDown_5 ul li:hover p{
     color: #fff;
 }
 