/* Button Design */

.container_3 .academicDept, .container_3 .publiCation,.container_3 .sports,.container_3 .club, .container_3 .interViews
,.container_3 .acaEvents , .container_3 .festGallery, .container_3 .comminites{
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-family: "Rubik", sans-serif;
    font-size: 13px;   
    font-weight: 600;
    position: relative;
    z-index: 0;
    border-radius:  12px;
    background-color: red;
    transition: calc(0.4s);
}
.container_3 .academicDept:hover, .container_3 .publiCation:hover,.container_3 .sports:hover,.container_3 .club:hover, .container_3 .interViews:hover
,.container_3 .acaEvents:hover , .container_3 .festGallery:hover, .container_3 .comminites:hover{
    transform: scale(1.02);
}
.container_3 .academicDept::after, .container_3 .publiCation::after,.container_3 .sports::after,.container_3 .club::after, .container_3 .interViews::after
,.container_3 .acaEvents::after , .container_3 .festGallery::after, .container_3 .comminites::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #211f1f;
    left: 0;
    top: 0;
    border-radius: 12px;
}
.container_3 .academicDept::before,.container_3 .publiCation::before,.container_3 .sports::before, .container_3 .club::before, .container_3 .interViews::before
,.container_3 .acaEvents::before , .container_3 .festGallery::before, .container_3 .comminites::before {
    content: "";
    background: linear-gradient(
        45deg,
        #fff,#000000
       
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation:glowing 30s linear infinite ;
    transition: opacity .20s ease-in-out;
    border-radius: 10px;
    opacity: 1;
}

.container_3 .comminites .dropDown_4 ul li a{
    color: #021e52;
}
@keyframes glowing{
    0%{background-position: 0 0 ;}
    50%{background-position: 400% 0;}
    100%{background-position: 0 0;}

}