@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Patua+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.main_news{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_news .weekly_update{
    height: 100%;
    width: 15%;
    background-color: rgba(255, 255, 255, 0.1);
   
}
.main_news .weekly_update .week_button{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.main_news .weekly_update .week_button button{
    background-color: #47adaa;
    color: black;
    height: 40px;
    width: 10rem;
    border-radius: 10px;
    border-color: #969494;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    box-shadow: -5px 5px 5px #636868;
}
.main_news  .weekly_update .week_day{
    width: 100%;
    display: flex;
    justify-content: center;
}
.main_news  .weekly_update .week_day ul li{
    padding: 10px 0;
}
.main_news .weekly_update .border{
    width: 100%;
    height: 2px;
    border: 1px solid #969494;
    margin-top: 20px;
    background: linear-gradient(to right, rgb(177, 14, 41),yellow,green,orange,rgb(206, 132, 144),blue);
}





.main_news .news{
    height: 100%;
    width: 70%;
    background: url(/CGEC-TIMES/mainWeb/allCodes/photos/1.png);
    object-fit: cover;

}
.main_news .upcoming{
    height: 100%;
    width: 15%;
    background:rgba(255, 255, 255, 0.1);
}